
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.panel {
  margin-top: 50px;
}
#logout {
  cursor: default;
  &:hover {
    background-color: transparent;
  }
}
.gravatar_edit {
  margin: 15px auto;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 100px;
  }
}
.users {
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.delete-btn {
  float: left;
  position: relative;
  right: 0;
}
.statuses {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    position: relative;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    word-break: break-word;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    margin-right: 10px;
    margin-top: 5px;
  }
  form {
    button.status-delete-btn {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.status_form {
  margin-top: 20px;
}